html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}

.navbar {
    margin-top: -3%;
    padding-top: 56px;
}

.navbar-toggler {
    margin-right: 15px;
}

.nav-profile {
    margin-left: auto;

}

.navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center;
}

.nav-item {
    margin-right: 15px;
}

.nav-search {
    margin-right: 20px; /* Увеличиваем отступ между ссылками и поиском */
}

.nav-logo {
    max-width: 30px; /* Максимальная ширина для логотипа */
    margin-right: 20px; /* Отступ от правого края */
}

/* main.css */

.profile-details p {
    text-align: left; /* Выравнивание текста по левой стороне */
}

.profile-details .nav-link {
    color: #303030; /* Цвет текста */
}

.user-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Отступ между логином и временем активности */
}

.login {
    margin-right: 10px; /* Отступ между логином и временем активности */
}

.links {
    display: flex;
}

.links a {
    margin-right: 10px; /* Отступ между ссылками "Темы" и "Аккаунты" */
}

.separator {
    margin: 0 5px; /* Отступ между разделителем | и текстом */
}

.profile-avatar-info-container {
    display: flex;
    justify-content: space-around;
}

.profile-info-block {
    background-color: #3b3b3b; /* Цвет фона блока */
    padding: 20px; /* Внутренний отступ блока */
    border-radius: 10px; /* Скругленные углы блока */
    color: #ffffff; /* Цвет текста внутри блока */
    width: 40%; /* Ширина блока */
    margin: 20px 20px 20px 0; /* Отступы от верха, справа, низа и слева */
}

.profile-avatar-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%; /* Ширина блока */
    margin: 20px 0; /* Отступы от верха и низа */
    background-color: #3b3b3b; /* Цвет фона блока */
    padding: 15px; /* Внутренний отступ блока */
    border-radius: 15px; /* Скругленные углы блока */
}

.profile-post-form {
    background-color: #3b3b3b; /* Цвет фона блока */
    padding: 20px; /* Внутренний отступ блока */
    border-radius: 10px; /* Скругленные углы блока */
    color: #ffffff; /* Цвет текста внутри блока */
    margin-top: 20px; /* Отступ сверху */
}

.profile-post-form textarea {
    width: 100%;
    margin-bottom: 10px;
}

.profile-post-form button {
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.profile-post-form button:hover {
    background-color: #0056b3;
}

.avatar-container {
    position: relative;
    width: 200px;
    Fight: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__main-btn {
    cursor: pointer;
    color: rgba(182, 179, 179, 0.93);
    background-color: #333333D8;
    border: 1px solid #333333D8;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.profile__main-btn:hover {
    background-color: #303030;
}

/*    .profile-avatar-container {
  margin-right: 50px; !* Уменьшаем отступ между блоками *!
}*/

.profile-info-block {
    margin-left: -180px; /* Уменьшаем отступ между блоками */
}

.row {
    margin-right: 0px
}

.footer-bottom {
    flex-shrink: 0; /* Не сжимаем футер */
    line-height: 60px;
    background-color: #3b3b3b;
    color: rgba(255, 255, 255, 0.75);
    margin-top: auto;
}

/*.footer-bottom {
    position: relative;
    display: flex;
    margin-bottom: -5%;
    width: 100%;
    height: 90px; !* Высота футера *!
    line-height: 60px; !* Выравнивание текста по вертикали *!
    background-color: #3b3b3b;
    color: rgba(255, 255, 255, 0.75);
}*/


.navbar-dark .navbar-nav .nav-link {
    color: #ffffff /* цвет текста основных элементов навигации */
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #000000; /* цвет текста при наведении на элемент навигации */
}

.navbar-dark .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    background-color: #333333D8; /* цвет фона выпадающего списка при наведении на элемент "Соц. сети" */
}

.navbar-dark .navbar-nav .nav-item.dropdown .dropdown-item {
    color: #ffffff; /* цвет текста внутри выпадающего списка */
}

.navbar-dark .navbar-nav .nav-item.dropdown .dropdown-item:hover {
    background-color: #333333D8; /* цвет фона элемента выпадающего списка при наведении на него */
}
.news-block {
    margin-top: 0rem; /* Расстояние между блоками */
    width: 70%; /* Пример: ширина в 70% от родительского контейнера */
    margin-left: 38%;
    margin-right: 22%;
}

/* Стили для формы новости (пример) */
.news-block form {
    background-color: #333333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.news-block h2 {
    color: white;
}
textarea.form-control {
    height: 3rem;
}
.chat-container {
    display: flex;
    height: 100vh;
}

.users-list {
    flex: 0 0 20%;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    overflow-y: auto;
}

.chat {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.messages-container {
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
}

.message {
    max-width: 80%;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}

.received {
    background-color: #f1f0f0;
    align-self: flex-start;
}

.sent {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
}

.mini-profile {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    display: none;
}